name: ci

on:
  push:
    paths:
    - "**.py"
  pull_request:
    paths:
    - "**.py"

jobs:

  linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: Install Prereqs
      run: |
        sudo apt update -yq
        sudo apt install -yq --no-install-recommends gfortran
    - run: pip install .[tests,lint]
    - run: flake8
    - run: mypy .
    - run: pytest
      working-directory: tests
      env:
        CC: gcc
        FC: gfortran

  macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - run: brew install gcc
    - run: pip install .[tests]
    - run: pytest
      working-directory: tests
      env:
        CC: gcc-9
        FC: gfortran-9

  windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - run: pip install .[tests]
    - run: pytest
      working-directory: tests
      env:
        CC: gcc
        FC: gfortran
